__pycache__/
**/__pycache__/
MLPipeline/src/logs/
MLPipeline/src/logs/*
!MLPipeline/src/logs/.gitkeep
MLPipeline/src/output/
MLPipeline/src/output/*
!MLPipeline/src/output/.gitkeep
backend/src/logs/
backend/src/logs/*
!backend/src/logs/.gitkeep
nginx/ssl/
*.key
*.crt
*.pem
*.cert
*.png
*.jpeg
*.jpg
.env