__pycache__/
**/__pycache__/
MLPipeline/src/logs/
MLPipeline/src/logs/*
!MLPipeline/src/logs/.gitkeep
backend/src/logs/
backend/src/logs/*
!backend/src/logs/.gitkeep
nginx/ssl/
*.key
*.crt
*.pem
*.cert
.env